---
import Layout from '../../layouts/mainLayout.astro';
import Container from '../../components/atoms/Container.astro';
import ListH1 from '../../components/atoms/ListH1.astro';
import H2 from '../../components/atoms/H2.astro';
import Quote from '../../components/molecules/Quote.astro';
import Header from '../../components/molecules/Header.svelte';
import Footer from '../../components/molecules/Footer.astro';
import WhiteBackground from '../../components/atoms/WhiteBackground.astro';
import CTA from '../../components/atoms/CTA.astro';

import { fetchData, orderByCreatedAtDate } from '../../helpers';
import siteQuery from '../../queries/site';
import query from '../../queries/insights';

const siteData = await fetchData(fetch, siteQuery);
const { headers, footers } = siteData;
let { menu } = siteData;

menu = menu.sort((a, b) => a.order - b.order);

const header = headers[0];
const footer = footers[0];

let {insights = [], insightsPages = []} = await fetchData(fetch, query);
insights = insights.filter((insight) => insight.stage === 'PUBLISHED')?.sort(orderByCreatedAtDate)
---

<Layout title='Insights - Abell Design' description={insightsPages[0]?.seoDescription || ''}>
    <div>
        <p class="hidden" style="position: absolute; left: -100vw" itemprop="name">Abell Design</p>
        <WhiteBackground>
            <div class="header-container">
                <Header client:load {header} {menu} isHome={false} />
            </div>

            <Container>
                <ListH1>Insights</ListH1>

                <ul class="insight-list" itemscope itemtype="https://schema.org/Blog">
                    {insights.map((insight) => (
                        <li class="insight-list-item">
                            <a href={`/insight/${insight.slug}`} itemprop="url">
                                <div style="height: 200px; overflow: hidden;">
                                    <div style="display: flex; align-items: center; justify-content: center;">
                                        <img src={insight.featuredImage.url} alt="" itemprop="image" />
                                    </div>
                                </div>

                                <H2 style="text-align: left;">{insight.title}</H2>
                            </a>
                        </li>
                    ))}
                </ul>
            </Container>  
        </WhiteBackground>
        <Footer footer={footer} />
    </div>
</Layout>