---
import Layout from '../layouts/mainLayout.svelte';
import Container from '../components/atoms/Container.svelte';
import ListH1 from '../components/atoms/ListH1.svelte';
import A from '../components/atoms/A.svelte';
import Header from '../components/molecules/Header.svelte';
import Footer from '../components/molecules/Footer.svelte';
import WhiteBackground from '../components/atoms/WhiteBackground.svelte';
import ScreenTransition from '../components/atoms/ScreenTransition.svelte';

import fetchData from '../helpers/fetchData';
import siteQuery from '../queries/site';
import query from '../queries/contact';

let siteTitle = 'Contact - Abell Design';
const siteData = await fetchData(fetch, siteQuery);
const { headers, footers } = siteData;
let { menu } = siteData;

menu = menu.sort((a, b) => a.order - b.order);

const header = headers[0];
const footer = footers[0];

const data = await fetchData(fetch, query);
const { contacts }  = data;

let {
		address,
		addressImage,
		instagramImage,
		instagramLink,
		instagramLinkText,
		phoneImage,
		phoneText,
		linkedInImage,
		linkedInLinkText,
		linkedInLink,
		emailTitle,
		emailLink,
		emailLinkText,
		emailImage,
		title,
		map,
		mapZoom
	} = contacts[0];
---

<Layout
    title={siteTitle}
    client:load
>
    <div id="swup" class="contact-page">
        <p class="hidden" itemprop="name">Abell Design</p>
        <WhiteBackground>
            <div class="header-container">
                <Header {header} {menu} isHome={false} />
            </div>
        <Container>
            <ListH1>{title}</ListH1>
            <div class="contact-container" itemscope itemtype="https://schema.org/LocalBusiness">
                <ul>
                    <li class="contact">
                        <div class="image">
                            <img src={emailImage.url} alt="" />
                        </div>
                        <div class="text">
                            {emailTitle} {" "}
                            <A href={emailLink} itemprop="email">{emailLinkText}</A>
                        </div>
                    </li>
                    <li class="contact">
                        <div class="image">
                            <img src={phoneImage.url} alt="" />
                        </div>
                        <div class="text" itemprop="telephone">
                            {phoneText}
                        </div>
                    </li>
                    <li class="contact">
                        <div class="image">
                            <img src={addressImage.url} alt="" />
                        </div>
                        <div class="text" itemprop="address">
                            {address}
                        </div>
                    </li>
                    <li class="contact">
                        <div class="image">
                            <img src={linkedInImage.url} alt="" />
                        </div>
                        <div class="text">
                            <A href={linkedInLink}>{linkedInLinkText}</A>
                        </div>
                    </li>
                    <li class="contact">
                        <div class="image">
                            <img src={instagramImage.url} alt="" />
                        </div>
                        <div class="text">
                            <A href={instagramLink}>{instagramLinkText}</A>
                        </div>
                    </li>
                </ul>

                <div id="map" itemscope itemtype="https://schema.org/Map"></div>
            </div>
        </Container>
                </WhiteBackground>
        <Footer footer={footer} />
        <ScreenTransition />
    </div>

    <script>
        function initMap() {
            const theDrey = { lat: 53.9524713, lng: -1.0714173 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: theDrey,
            });
            const marker = new google.maps.Marker({
                position: theDrey,
                map: map,
            });
        }
    </script>
    <script type="module" src="/app.js" />   
</Layout> 