---
import Layout from '../layouts/mainLayout.astro';
import Container from '../components/atoms/Container.astro';
import Services from '../components/molecules/Services.astro';
import List from '../components/molecules/List.astro';
import Brands from '../components/molecules/Brands.astro';
import Quote from '../components/molecules/Quote.astro';
import Header from '../components/molecules/Header.svelte';
import CTA from '../components/atoms/CTA.astro';
import Footer from '../components/molecules/Footer.astro';
import WhiteBackground from '../components/atoms/WhiteBackground.astro';

import { fetchData, showOnHomepage, addOddEven } from '../helpers';
import siteQuery from '../queries/site';
import homeQuery from '../queries/home';

let title = 'Abell Design';
const siteData = await fetchData(fetch, siteQuery);
let { headers, footers, menu } = siteData;
menu = (menu || []).sort((a, b) => a.order - b.order);

const header = headers[0];
const footer = footers[0];

const data = (await fetchData(fetch, homeQuery)) || {
    works: [],
    services: [],
    homepage: [{}],
    brands: []
};

if (data && data.works) {
    data.works = data.works && data.works.filter(showOnHomepage).map(addOddEven);
} else {
    data.works = [];
}

if (data && data.services) {
    data.services = data.services.filter(showOnHomepage).map(addOddEven);
} else {
    data.services = [];
}

const { works, services, homepage, brands } = data;
---

<Layout title={title} description={homepage[0].seoDescription || ''}>
    <div>
        <p class="hidden" itemprop="name" style="position: absolute; left: -100vw">Abell Design</p>
        <WhiteBackground client:load>
            <div class="header-container">
                <CTA title={homepage[0].title} subtitle={homepage[0].subtitle} />
                <Header client:load {header} {menu} isHome={true} />
            </div>

            <Container isHome={true}>
                <Services title="Services" data={services} slugPrefix="/work" linkText="More Services" />
                <List title="Work" data={works} slugPrefix="/work" linkText="More Work" />
                <Brands {brands} brandsText={homepage[0].brandsText} />
                <Quote quote={homepage[0].quote} quoter={homepage[0].quoter} />
            </Container>
        </WhiteBackground>
        <Footer footer={footer} />
    </div>
</Layout>
