---
import Layout from '../layouts/mainLayout.astro';
import Container from '../components/atoms/Container.svelte';
import Services from '../components/molecules/Services.svelte';
import Quote from '../components/molecules/Quote.svelte';
import Header from '../components/molecules/Header.svelte';
import Footer from '../components/molecules/Footer.svelte';
import WhiteBackground from '../components/atoms/WhiteBackground.svelte';
import ScreenTransition from '../components/atoms/ScreenTransition.svelte';

import fetchData from '../helpers/fetchData';
import siteQuery from '../queries/site';
import query from '../queries/services';

const siteData = await fetchData(fetch, siteQuery);
const { headers, footers } = siteData;
const header = headers[0];
const footer = footers[0];

let { menu } = siteData;
menu = (menu || []).sort((a, b) => a.order - b.order);
let title = 'Services - Abell Design';

const data = (await fetchData(fetch, query)) || { services: [], servicesPages: [{}] };

if (data && data.services) {
    data.services = data.services.map((service, index) => {
        service.oddEven = index % 2;
        return service;
    });
} else {
    data.services = [];
}

const {services, servicesPages} = data;
const quote = servicesPages[0].quote;
const quoter = servicesPages[0].quoter;
---
<Layout
    title={title}
    client:load
>
    <div>
        <p class="hidden" itemprop="name" style="position: absolute; left: -100vw">Abell Design</p>
        <WhiteBackground>
            <div class="header-container">
                <Header {header} {menu} isHome={false} />
            </div>

        <Container>
            <Services title="Services" data={services} slugPrefix="/work" linkText="" />
            <Quote {quote} {quoter} />
        </Container>
        </WhiteBackground>
        <Footer footer={footer} />
        <ScreenTransition />
    </div>
</Layout>
