---
import Layout from '../layouts/mainLayout.svelte';
import Container from '../components/atoms/Container.svelte';
import Services from '../components/molecules/Services.svelte';
import Quote from '../components/molecules/Quote.svelte';

import fetchData from '../helpers/fetchData';
import siteQuery from '../queries/site';
import query from '../queries/services';

const siteData = await fetchData(fetch, siteQuery);
const { headers, footers } = siteData;
const header = headers[0];
const footer = footers[0];

let { menu } = siteData;
let title = 'Services - Abell Design';

const data = (await fetchData(fetch, query)) || { services: [], servicesPages: [{}] };

if (data && data.services) {
    data.services = data.services.map((service, index) => {
        service.oddEven = index % 2;
        return service;
    });
} else {
    data.services = [];
}

const {services, servicesPages} = data;
const quote = servicesPages[0].quote;
const quoter = servicesPages[0].quoter;
---
<Layout
    title={title}
    menu={menu}
    header={header}
    footer={footer}
    isHome={false}
>
    <div id="swup">
        <Container>
            <Services title="Services" data={services} slugPrefix="/work" linkText="" />
            <Quote {quote} {quoter} />
        </Container>
    </div>
    

    <script type="module" src="/app.js" />
</Layout>
