---
	import ListH1 from '../atoms/ListH1.astro';
	import H2 from '../atoms/H2.astro';
	import ContentList from '../atoms/ContentList.svelte';
	import ServiceItem from './ServiceItem.svelte';
	import CenteredLink from '../atoms/CenteredLink.svelte';

	const { title, data, slug = '', linkText = '', headerType = 'h2', slugPrefix = ''} = Astro.props;
---

<div>
	{headerType === 'h1' && (
		<ListH1>{title}</ListH1>
	)}
	
	{headerType !== 'h1' && (
		<H2>{title}</H2>
	)}

	<ContentList>
		{data.map(item => (
			<ServiceItem {item} {slugPrefix} />
		))}
	</ContentList>

	{linkText && linkText.length > 0 && (
		<CenteredLink href={slug}>{linkText}</CenteredLink>
	)}
</div>
